<md-card>
  <md-card-content>
    <iframe src="http://tlmader.github.io/theodoric/" width="100%" height="400" frameborder="0" scrolling="no"><p>Your browser does not support iframes.</p></iframe>
  </md-card-content>
  <md-card-title>
    <h2>Theodoric</h2>
  </md-card-title>
  <md-card-subtitle>
    <p>A 2D top-down action game built on the Phaser HTML5 game framework</p>
  </md-card-subtitle>
  <md-card-content>
    <md-list>
      <md-divider></md-divider>
      <h2 md-subheader>Controls</h2>
      <md-list-item>WASD - Move</md-list-item>
      <md-list-item>Left Mouse Button - Hold down to attack</md-list-item>
      <md-list-item>Spacebar - Cast spell</md-list-item>
      <md-divider></md-divider>
      <h2 md-subheader>Objectives</h2>
      <md-list-item>Gather gold</md-list-item>
      <md-list-item>Slay monsters</md-list-item>
      <md-list-item>Survive!</md-list-item>
    </md-list>
  </md-card-content>
</md-card>
