<div fxFlex fxLayout="column">
  <app-jumbotron fxFlex
                 [title]="'Photos'"
                 [subtitle]="'The latest photos retrieved from my Instagram profile.'"
                 [image]="'http://i.imgur.com/mnsLcG1.jpg'">
  </app-jumbotron>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  <div fxFlex fxLayout="row" fxLayoutWrap *ngIf="media; else loading">
    <md-card fxFlex="33.3333%"
             *ngFor="let item of media.items">
      <img fxFlex src="{{item.images.standard_resolution.url}}"/>
    </md-card>
  </div>
</div>
