<app-layout>
  <md-card>
    <md-card-title-group>
      <md-card-title><h1>Hello, world!</h1></md-card-title>
      <md-card-subtitle><h3>My name is Ted. I live in New Orleans and build software!</h3></md-card-subtitle>
      <img md-card-md-image src="http://i.imgur.com/mnsLcG1.jpg">
    </md-card-title-group>
  </md-card>
  <md-card *ngFor="let about of abouts">
    <md-card-title *ngIf="about.title">{{about.title}}</md-card-title>
    <md-card-content>
      {{about.content}}
    </md-card-content>
    <md-card-content *ngIf="about.link"><a href="{{about.link.to}}">{{about.link.label}}</a></md-card-content>
  </md-card>
</app-layout>
