<app-layout>
  <md-card>
    <md-card-title-group>
      <md-card-title><h1>Hello, world!</h1></md-card-title>
      <md-card-subtitle><h3>My name is Ted. I live in New Orleans and build software!</h3></md-card-subtitle>
      <img md-card-md-image src="http://i.imgur.com/mnsLcG1.jpg">
    </md-card-title-group>
  </md-card>
  <md-card>
    <md-card-content *ngFor="let intro of intros">{{intro}}</md-card-content>
  </md-card>
  <md-card *ngFor="let about of abouts">
    <md-card-subtitle>
      <p>{{about.content}}</p>
    </md-card-subtitle>
    <img md-card-image *ngIf="about.image" src="{{about.image}}">
    <md-card-actions *ngIf="about.link">
      <a md-button href="{{about.link.to}}">{{about.link.label}}</a>
    </md-card-actions>
  </md-card>
</app-layout>
