<md-card>
  <md-card-title-group>
    <md-card-title><h1>Music</h1></md-card-title>
    <md-card-subtitle><h3>My favorite sounds!</h3></md-card-subtitle>
  </md-card-title-group>
</md-card>
<md-card>
  <md-select placeholder="Playlists" [(ngModel)]="selectedPlaylist" name="playlist" [style.width]="'100%'">
    <md-option *ngFor="let playlist of playlists" [value]="playlist">
      {{playlist.title}}
    </md-option>
  </md-select>
  <div *ngIf="selectedPlaylist" [innerHTML]="safe(selectedPlaylist.player)"></div>
</md-card>
