<md-card>
  <md-card-title-group>
    <md-card-title><h1>Music</h1></md-card-title>
    <md-card-subtitle><h3>My favorite sounds!</h3></md-card-subtitle>
  </md-card-title-group>
</md-card>
<md-card>
  <md-card-subtitle>Playlists</md-card-subtitle>
  <md-card-actions>
    <button md-button (click)="onClick(playlist)" *ngFor="let playlist of playlists">{{playlist.title}}</button>
  </md-card-actions>
  <md-card-content>
    <iframe *ngIf="selected" [src]="playlistURL()" width="100%" height="480" scrolling="no" frameBorder="no" allowfullscreen></iframe>
  </md-card-content>
</md-card>
